//fonts
$font_0: PerpetuaTitlingMTLight;
$font_1: B Nazanin;
$font_2: Times New Roman;

//color
$color_loulou_approx: hsl(303, 68%, 16%);
$color_holiday: hsl(0, 100%, 33%);
$color_background: hsl(199, 72%, 87%);